.footer{
    background-color: var(--navbar-color);
    padding: var(--content-margin);
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer img{
    width: 130px;
}