@import "variables.css";
@import "Navbar.css";
@import "Footer.css";
@import "Sidebar.css";
@import "ListView.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Source Sans 3", sans-serif;
}

.App{
  height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

button{
    background-color: var(--light-blue);
    font: inherit;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.inverted-button{
    background-color: white;
    color: var(--light-blue);
}

.content{
    margin: var(--content-margin);
}

.horizontal-box {
    display: flex;
}

.card{
    border: var(--default-border);
    border-radius: var(--default-border-radius);
    padding: 10px;
    box-shadow: 0 0 15px 0px rgba(0,0,0,0.15);
    background-color: white;
    display: flex;
}